<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Goldduck Camera - Confirm Account</title>
    <meta name="description" content="Reset Password Email Template.">
    <style type="text/css">
        a:hover {
            text-decoration: underline !important;
        }
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <!--100% body table-->
    <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
        style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
        <tr>
            <td>
                <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;" width="100%" border="0"
                    align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="height:10px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                                style="max-width:670px;background:#fff; border-radius:3px; -webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">

                                <tr>
                                    <td style="padding:0 35px;">
                                        <div
                                            style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
                                            <div style="margin:50px auto;width:70%;padding:20px 0">
                                                <div style="border-bottom:1px solid #eee">
                                                    <a href=""
                                                        style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Goldduck
                                                        Camera</a>
                                                </div>
                                                <p style="font-size:1.1em">Xin Chào,</p>
                                                <p>Cảm ơn bạn đã tin dùng sản phẩm của chúng tôi. Sử dụng OTP để hoàn
                                                    thành thủ tục đăng ký của bạn.
                                                    OTP có hiệu lực trong 5 phút</p>
                                                <h2
                                                    style="background: #00466a;margin: 0 auto;width: 200px;padding: 0 10px;color: #fff;border-radius: 4px; text-align: center;">
                                                    {{newOTP}}</h2>
                                                <a href="{{otpLink}}">Truy cập trực tiếp ở đây</a>
                                                <p style="font-size:0.9em;">Trân trọng,<br />Goldduck Camera</p>
                                                <hr style="border:none;border-top:1px solid #eee" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    <tr>
                        <td style="height:10px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!--/100% body table-->
</body>

</html>